.legend-container {
	float: right;
	height: 100%;
	overflow: auto;
	margin-left: 15px;
}

.legend-header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.legend-items {
	list-style-type: none;
	margin-right: 20px;
	padding-left: 10px;
}

.legend-item {
	position: relative;
}

.legend-bounds-upper {
    position: absolute;
    top: 0;
}

.legend-bounds-lower {
    position: absolute;
    bottom: 0;
}

.legend-thumbnail {
	margin-right: 4px;
	margin-top: 4px;
}